<form (ngSubmit)="onSubmit(formSignIn)" #formSignIn="ngForm" >
  <input type="text" placeholder="email" #txtEmail="ngModel" ngModel name="email" required email><br><br>
  <p *ngIf="txtEmail.errors?.required && txtEmail.touched">Lorem ipsum dolor sit amet.</p>
  <input type="password" placeholder="password" ngModel name="password"><br><br>
  <div ngModelGroup="subject">
  <label ><input type="checkbox" [ngModel]="true" name="football">FootBall</label>
  <label ><input type="checkbox" [ngModel]="false" name="angular">angular</label>
  <label ><input type="checkbox" [ngModel]="true" name="react">react</label>
  </div>
  <button>Submit</button>
</form>
<p>{{txtEmail.errors | json}}</p>