<h2 [hidden]="forgot">
    Lorem ipsum dolor sit amet.</h2>
<button (click)="forgot = !forgot">Forgot</button>
<input type="text" placeholder="input your name" (keyup)="showEvent($event)">
<p>Your name:{{name}} </p>
<br>
<strong>true way binding</strong><br>
<input type="text" placeholder="input your name" [(ngModel)]="name2">
<p>Your name:{{name2}} </p><br>
<h3>template reference variable</h3>
<input type="text" placeholder="input your name" [(ngModel)]="name3" #txtUsername>
<p>Your name:{{name3}} </p><br>
<code>{{txtUsername.value | json}}</code><br>
<h3>class binding - style binding</h3>
<input type="text" placeholder="nhap ten vao di dm" [(ngModel)]="name4">
<h3 [style.color]="name4.length % 2== 0 ? 'red' : 'blue'">your name is: {{name4}}</h3>
<br>
<div [class]="'circle'"></div>
<div [class.circle]="true "></div>
<br>



<h3>directive , ngStyle</h3>
<p>
    1. component <br> 2. attri <br> 3. structural <br>

</p>
<br>
<div [ngStyle]="currentStyle">Lorem ipsum dolor sit amet.</div>
<div [ngClass]="{circle : true}"></div>
<code>
    ngClass và ngStyle giúp thêm nhiều thuộc tính hơn là cass và style thuần. 
    sử dụng object
</code><br><br>

<h3>ngIf</h3>
<div *ngIf="true"></div><br><br>

<h3>ngFor</h3>
<ul>
    <li *ngFor="let subject of arr">
        {{subject}}
    </li>
</ul><br><br>
<code>bai tap</code><br>
<div *ngIf="!forgot">
    <input type="text" placeholder="English" [(ngModel)]="eng">
    <input type="text" placeholder="Vietnamese" [(ngModel)]="vnese">
</div>
<select name="filter" id="filter" [(ngModel)]="status">
    <option value="all" >All</option>
    <option value="yes"selected>Yes</option>
    <option value="no">No</option>
    
</select>
<button (click)="addWord()">Add</button>
<div *ngFor="let word of arrWords">
    <div *ngIf="
    (status==='all')
    || (status==='yes' && word.memorized === true)
    || (status ==='no' && word.memorized=== false)
      " class=" box ">
        <h4 [ngStyle]="{color: word.memorized? 'green' : 'red'} ">{{word.en}}</h4>
        <p>{{word.vn}}</p>
        <button (click)="removeWord(word.id) ">remove</button>
    </div>
</div><br><br>
<h3>Input</h3>