.article2 {
    width: 30%;
    float: left;
    margin: 10px;
    border: 1px solid black;
    background: rgba(150, 144, 144, 0.067);
    padding-bottom: 20px;
    img {
        width: 100%;
    }
}