<div class="about">
    <div class="cv">
        <div class="cv-left">
            <div class="img">
                <img src="../../assets/images/36654846_1421918334618688_8673947592578564096_n.jpg" alt="" style="width: 100%;">
            </div>
            <div class="contact">
                <div style="text-align: center;">
                    <h1>CONTACT</h1>
                </div>
                <div class="row1 mail">
                    <div class="r-left"><img src="../../assets/images/mail.png" alt=""></div>
                    <div class="r-right"><span>quochung0302@mail.com</span></div>
                </div>
                <div class="row1 phone">
                    <div class="r-left"><img src="../../assets/images/phone.png" alt=""></div>
                    <div class="r-right"><span>01662511557</span></div>
                </div>
                <div class="row1 location1">
                    <div class="r-left"><img class="location-icon" src="../../assets/images/location.png" alt=""></div>
                    <div class="r-right"><span>47 Khuong Trung, Thanh Xuan, Ha Noi</span></div>
                </div>
                <div class="row1 web">
                    <div class="r-left"><img src="../../assets/images/web.png" alt=""></div>
                    <div class="r-right"><span><a href="https://www.facebook.com/"> facebook.com/irononion</a></span></div>
                </div>

            </div>
            <div class="skill">
                <div style="text-align: center;">
                    <h1>SKILL</h1>
                </div>
                <div class="flex">
                    <div class="flex-left"><span>HTML, CSS, SASS</span></div>
                    <div class="flex-right">
                        <div class="skill-box">
                            <div class="skill-level" style="width: 90%;"></div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-left"><span>Bootstrap, GIT</span></div>
                    <div class="flex-right">
                        <div class="skill-box">
                            <div class="skill-level" style="width: 70%;"></div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-left"><span>JavaScript(ES6)</span></div>
                    <div class="flex-right">
                        <div class="skill-box">
                            <div class="skill-level" style="width: 50%;"></div>
                        </div>
                    </div>
                </div>



                <div class="flex">
                    <div class="flex-left"><span>Angular 4+</span></div>
                    <div class="flex-right">
                        <div class="skill-box">
                            <div class="skill-level" style="width: 60%;"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="flex">
                    <div class="flex-left"><span>Photoshop</span></div>
                    <div class="flex-right">
                        <div class="skill-box">
                            <div class="skill-level" style="width: 70%;"></div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-left"><span>English</span></div>
                    <div class="flex-right">
                        <div class="skill-box">
                            <div class="skill-level" style="width: 50%;"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="hobbies">
                <h1>HOBBIES</h1>
                <ul>
                    <li>BOOK</li>
                    <li>MUSIC</li>
                    <li>GAME</li>
                    <li style="border: none">GYM</li>


                </ul>
            </div>
        </div>
        <div class="cv-right">
            <div class="cvr-top">
                <div class="cvr-top__1">
                    <div class="cv-title">
                        <span>CURRIRULUM VATAE TEMPLATE</span>
                        <span class="cv-logo">
                            <img src="../../assets/images/cv-logo.png" alt="" style="width: 30%;">

                        </span>
                    </div>
                </div>
                <div class="cvr-top__2"></div>
                <div class="cvr-top__3"></div>



            </div>
            <div class="cvr-content">
                <div class="cvr-name">
                    <h1><span class="firstname">NGO </span> <span class="lastname">QUOC HUNG</span></h1>
                    <h3>FRONT-END WEB DEVELOPER</h3>
                    <p>I would like to find a working place where I can improve my web development skills through working on actual projects. I want to challenge myself in a professional and dynamic environment to get many more experiences and learn to work
                        under pressure. In 1-2 years, I aim to become a skillful Web Developer who can work effectively in technology industry.</p>


                </div>
                <div class="cvr-info">
                    <div class="crv-label__container">
                        <div class="cvr-label">
                            <div class="cvr-label__1">
                                <h1>PERSONAL INFORMATION</h1>
                            </div>
                            <div class="cvr-label__2">


                            </div>

                        </div>
                    </div>
                    <div class="cvr-text">
                        <ul class="cvr-text__info">
                            <li>Date of birth: 03/02/1996</li>
                            <li>Gender: Male</li>
                            <li>Have clear objectives and positively act to reach the targets</li>
                            <li>A good self-learner who can learn new things quickly and have high concentration</li>
                            <li>Possibility to work in individual or in a team</li>
                        </ul>
                    </div>
                </div>
                <div class="cvr-edu">
                    <div class="crv-label__container">
                        <div class="cvr-label">
                            <div class="cvr-label__1">
                                <h1>EDUCATION</h1>
                            </div>
                            <div class="cvr-label__2"></div>

                        </div>
                    </div>
                    <div class="cvr-text">
                        <div class="edu-flex">
                            <div class="edu-flex__1">
                                <h3>2011-2014:</h3>
                            </div>
                            <div class="edu-flex__2">
                                <h3>Yen Mo A High School</h3>
                            </div>
                        </div>
                        <div class="edu-flex">
                            <div class="edu-flex__1">
                                <h3>2014-2018:</h3>
                            </div>
                            <div class="edu-flex__2">
                                <h3>People Sercurity Acadamy</h3>
                            </div>
                        </div>
                        <div class="edu-flex">
                            <div class="edu-flex__1">
                                <h3>1/2018-7/2018:</h3>
                            </div>
                            <div class="edu-flex__2">
                                <h3>Hoc Voi Chuyen Gia</h3>
                                <p>- Class: Front-end 1-1</p>
                                <p>- Class: Angular 1-1</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="cvr-info">
                    <div class="crv-label__container">
                        <div class="cvr-label">
                            <div class="cvr-label__1">
                                <h1>WORK EXPERIENCE</h1>
                            </div>
                            <div class="cvr-label__2"></div>

                        </div>
                    </div>
                    <div class="cvr-text">
                        <ul class="cvr-text__info">
                            <li>Convert PSD to HTML/CSS</li>
                            <li>Website Design with FrameWork Bootstrap, Angular, use RWD</li>
                            <li>Write some small applicatons with Javascript/Typescript</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>