<section id="about">
    <h1>About</h1>
    <app-homework-article src="https://angular.io/assets/images/logos/angular/angular.svg" alt="angular" article="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores nemo distinctio hic.
     Obcaecati officia officiis accusamus repellendus vitae necessitatibus quo?. Obcaecati officia officiis accusamus repellendus vitae necessitatibus quo?. Obcaecati officia officiis accusamus repellendus vitae necessitatibus quo?
    "></app-homework-article>
</section>