<div class="projects">
    <div class="flex">
        <div class="project-box weather">
            <div class="project-box__content" routerLink="weather">
                <h1>WEATHER</h1>

            </div>
        </div>
        <div class="project-box table" routerLink="table">
            <div class="project-box__content">
                <h1>POINT TABLE</h1>

            </div>
        </div>
        <div class="project-box recipes" routerLink="recipes">
            <div class="project-box__content">
                <h1>RECIPES</h1>


            </div>
        </div>
    </div>
</div>
<!-- <p>
    projects works!
    <a routerLink="weather">weather</a><br>
    <a routerLink="table">table</a><br>
    <a routerLink="recipes">recipes</a><br>



</p> -->
<!-- <router-outlet></router-outlet> -->